.TodoList {
  text-align: center;
  margin: 2em;
  border: 1px solid gray;
  background-color: darkgray;
  height: 70%;
  box-shadow: 10px 5px 5px black;
}
body {
  font-family: montserrat;
  background: tan;
}
html {
  height: 100%;
}
.clear {
  margin: 0.5em;
}
.alltodos {
  margin: 0.5em;
}
.col-7 {
  text-align: left;
}
.col-5 {
  padding: 0;
}
.todo {
  border: 2px solid black;
  border-radius: 3px;
  background-color: whitesmoke;
  padding: 1em;
}
.rightGroup {
  float: right;
}
